<div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <h2>Make Order</h2>
        <span>
            <label for="itemId">Select Id </label>
            <select name="itemId" id="itemId" [(ngModel)]="itemId" #itemID="ngModel" required>
                <option *ngFor="let itemId of availItem" [value]="itemId.itemId">{{itemId.itemId}}</option>
            </select><br><br>
            <span>
                <label for="quantity">quantity </label>
                <input type="number" name="quantity" id="quantity" [disabled]="!itemId" #Quantity="ngModel"
                    [(ngModel)]="quantity" required>
            </span><br><br>
            <p class="error-message" *ngIf="ErrorMessage">
                {{ErrorMessage}}
            </p>
        </span>
        <span class="button">
            <button type="button" (click)="onAddItem(form)">add Item</button>
            <button type="submit" routerLink="/bill" *ngIf="addedItem.length>0">Generate Bill</button>
        </span>
    </form>
    <div class="added-list" *ngIf="addedItem.length>0">
        <h2>Item Added</h2>
        <ul>
            <li *ngFor="let item of addedItem">
                <p>Id: {{item.itemId}}</p>
                <p>Price: {{item.price}}</p>
                <p>Quantity: {{item.quantity}}</p>
                <button (click)="onDeleteItem(item.itemId)">&#10006;</button>
            </li>
        </ul>
    </div>
</div>