<header>
    <nav>
        <div class="logo">
            <img src="../assets/Logos/Logo.svg" alt="logo">
        </div>
        <ul class="menu">
            <li class="trip">
                <a href="">Trip</a>
                <ul class="trip-content">
                    <li *ngFor="let tour of toursList">
                        <img src={{tour.image}} alt={{tour.tourType}}>
                        <a routerLink="selectedTour"
                            (click)="modifySelectedTour($event,tour.tourType)">{{tour.tourType}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="hotels">
                <a href="">Hotels</a>
            </li>
            <li class="about">
                <a href="">About us</a>
            </li>
        </ul>
        <div class="authen">
            <button>Register</button>
            <a href="">Log in</a>
        </div>
    </nav>
</header>