header {
    font-family: 'Roboto', Josefin Sans;
    height: 100px;
    width: 100%;
    z-index: 5;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 20px black;
    /* position: sticky;
    top: 0;
    overflow: hidden; */
}

nav {
    z-index: 6;
    padding: 0 75px;
    height: 100%;
    background-color: rgb(221, 221, 221);
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: 150px;
}

img {
    position: relative;
    height: 80px;
    padding: 10px 35px;
}

.menu {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu>li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /* width: 200px;
    height: 100px; */
}

.trip>a {
    color: #34485c;
    cursor: pointer;
    text-decoration: none;
    
}

.trip li {
    display: block;
}



.trip .trip-content {
    display: none;
    position: absolute;
    background-color: rgb(221, 221, 221);
    z-index: 15;
    height: 400px;
    width: 1150px;
    top: 100px;
    border-left: 2px solid #34485c;
    border-bottom: 6px solid #34485c;
    border-right: 2px solid #34485c;
    border-radius: 0 0 30px 30px;
    left: 100px;
    overflow: auto;
    
    
    &::-webkit-scrollbar {
        width: 15px;
    }
    
    &::-webkit-scrollbar-track {
        border: 2px solid #34485c;
        /* border-radius: 50px; */
        border-bottom-right-radius: 50px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgb(221, 221, 221);
        border: 1px solid white;
        border-radius: 50px;
    }
}

.trip:hover .trip-content {
    gap: 70px;
    padding: 0 0 0 50px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    position: absolute;
}
.trip-content li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 200px;
    background-color: rgb(221, 221, 221);
    border: 1.5px solid #34485c;
    border-radius: 20px 10px 10px 10px;
    
    & img {
        height: 60px;
        width: 50px;
        padding: 0;
        border-radius: 10px 0 0 10px;
    }
    & a {
        height: 60px;
        width: 140px;
        text-decoration: none;
        color: #34485c;
        margin-top: 25px;
        font-family: 'Roboto', Josefin Sans;
    }
}



.hotels>a {
    color: #34485c;
    font-size: 20px;
    text-decoration: none;
}

.about>a {
    color: #34485c;
    font-size: 20px;
    text-decoration: none;
}

.authen {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.authen>button {
    color: skyblue;
    height: 50px;
    width: 100px;
    border: 1px solid #34485c;
    align-self: center;
    border-radius: 4px;
    background-color: #34485c;

    &:hover {
        color: #34485c;
        background-color: rgb(221, 221, 221);
        border: 1px solid #34485c;
    }
}

.authen>a {
    text-decoration: none;
    align-self: center;
    color: #34485c;
    font-size: 20px;
}