.bill {
    height: fit-content;
    width: 30vw;
    border: 2px solid blueviolet;
    border-radius: 10px;
    position: relative;
    margin-top: 100px;
    left: 35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bill>div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bill>div>h2 {
    text-align: center;
}

.bill>div>table>thead td {
    font-weight: bolder;
    text-align: center;
}

.bill>div>table>tbody td {
    text-align: center;
}
.bill>div>table>tfoot td {
    text-align: right;
}

.bill>div>p {
    text-align: center;
}