/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}
body{
    &::-webkit-scrollbar {
        height: 100%;
        width: 15px;
    }

    &::-webkit-scrollbar-track {
        border: 2px solid #34485c;
    }

    &::-webkit-scrollbar-thumb {
        background: #34485c;
        border-radius: 50px;
    }
}