<div class="slider">
  <button (click)="handlePreviousButton($event)">
    <span>&#60;</span>
  </button>
  <button (click)="handleNextButton($event)">
    <span>&#62;</span>
  </button>
  <section class="slider-image">
    <h1>{{ bannerName$ | async }}</h1>
    <img [src]="bannerImage$ | async" [alt]="bannerName$ | async" />
  </section>
  <section class="slider-about">
    <article *ngFor="let card of card$ | async">
      <img [src]="card.imageUrl" [alt]="card.cardName" />
      <div>
        <h3>{{ card.cardHeading }}</h3>
        <p>{{ card.cardDescription }}</p>
      </div>
    </article>
  </section>
  <chainTour-loader *ngIf="0" />
</div>
