main {
    overflow-x: hidden;
    overflow-y: auto;
    position: static;
    margin-top: 10px;
    padding: 0 50px;
    height: 1350px;

    &::-webkit-scrollbar {
        height: 100%;
        width: 15px;
    }

    &::-webkit-scrollbar-track {
        border: 2px solid #34485c;
    }

    &::-webkit-scrollbar-thumb {
        background: #34485c;
        border-radius: 50px;
    }
}