.banner {
    position: relative;
    display: block;
    margin-top: 10px;
    padding: 0 50px;
    height: auto;
}

.banner {
    &>#prev {
        position: absolute;
        top: 200px;
        border: none;
        left: 0;
        /* border-radius: 100%; */
        z-index: 10;
        background: none;
        backdrop-filter: blur(1px);
        height: 100px;
        width: 100px;

        & span {
            color: #34485c;
            font-size: 50px;
        }

        &:hover {
            width: 50px;
            background: none;
            transform: scaleX(1.5);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

            & span {
                filter: drop-shadow(0 0 2px #34485c);
                color: skyblue;
                font-size: 50px;
            }
        }
    }

    &>#next {
        position: absolute;
        top: 200px;
        right: 0;
        margin-right: 0;
        backdrop-filter: blur(1px);
        border: none;
        z-index: 10;
        background: none;
        /* opacity: 30%; */
        background-blend-mode: lighten;
        height: 100px;
        width: 100px;

        & span {
            color: #34485c;
            font-size: 50px;
        }

        &:hover {
            width: 50px;
            background: none;
            transform: scaleX(1.5);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

            & span {
                filter: drop-shadow(0 0 2px #34485c);
                color: skyblue;
                font-size: 50px;
            }
        }
    }
}

.tours {
    position: relative;
    height: auto;
    padding: 0;
}

.tour {
    display: none;
    margin-top: 10px;
    height: auto;

    &>img {
        padding: 0;
        height: 500px;
        width: 100%;
        border-radius: 50px;
        animation: banner 1s linear;
    }
}

@keyframes banner {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(0%);
    }
}

.tour-cards:nth-of-type(odd) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px groove orangered;
    border-radius: 20px;
    background-color: white;
    height: 250px;
    width: 650px;
    margin: 20px;
    animation: slide-card-right 1s linear;

    & img {
        border-radius: 19px 0 0 19px;
        padding: 0;
        height: 100%;
        width: 50%;
    }
}

@keyframes slide-card-right {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(0%);
    }
}

.tour-cards:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    border: 3px groove orangered;
    border-radius: 20px;
    background-color: white;
    height: 250px;
    width: 650px;
    margin: 20px;
    animation: slide-card-left 1s linear;

    & img {
        border-radius: 0 19px 19px 0;
        padding: 0;
        height: 100%;
        width: 50%;
    }
}

@keyframes slide-card-left {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(0%);
    }
}


.tour-cards h2 {
    text-align: center;
    font-family: 'Roboto', Josefin Sans;
    margin-top: 20px;
    font-size: 20px;
}

.tour-cards p {
    margin: 20px 10px 0 10px;
    font-family: 'Roboto', Josefin Sans;
    text-align: justify;
    top: 50%;
}

.tour.active {
    display: block;
    transform: translateX(0);
}


.tour-cards {
    transition: transform 2s ease-in-out;
}

.tour-cards:nth-of-type(odd).slide-left {
    transform: translateX(-100%);
    /* Slide left for odd cards */
}

.tour-cards:nth-of-type(even).slide-right {
    transform: translateX(100%);
    /* Slide right for even cards */
}